services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      - TZ=Asia/Tokyo
    env_file:
      - ./instance/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  flask:
    image: kojamad28/postgres-flask
    container_name: flask
    build: 
      context: .
      args:
        REQ_DIR: "requirements/"
        REQ_TXT: "prod.txt"
    command: gunicorn main:app -b 0.0.0.0:5000
    volumes:
      - .:/usr/src/app
    expose:
      - "5000"
    environment:
      - DEBUG=True
    env_file:
      - ./instance/.env
    depends_on:
      - postgres
  nginx:
    image: kojamad28/flask-nginx
    container_name: nginx
    build: ./nginx
    volumes:
      - ./app/static:/usr/src/app/static
      - ./app/media:/usr/src/app/media
    ports:
      - "80:80"
    depends_on:
      - flask

volumes:
  postgres_data:
